# Database (default is SQLite, no setup needed)
DATABASE_URL=sqlite:///./aeroaqua.db
# For PostgreSQL:
# DATABASE_URL=postgresql://user:password@localhost:5432/aeroaqua

FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:8000

# Live Environmental APIs
AIR_QUALITY_API_KEY=24c9b0b213941e7a23884698584a94d438df4cab7ec480d1384857b1d0322bb3
AIR_QUALITY_API_URL=https://api.openaq.org/v3
WEATHER_API_URL=https://api.open-meteo.com/v1/forecast
JWT_SECRET=aeroaqua-hackathon-super-secret-key-2026
